.hope-c-PJLV-ieESZju-css {
    font-style: normal !important;
    color: #ccc;
}
.gt-comments-null {
    font-style: normal !important;
    color: #ccc;
}
#gitalk-container {
    margin:0 auto;
}
.hope-c-PJLV-ikSuVsl-css > div:not(.hope-spinner) {
    width: 98%;
    margin: 0 auto;
    margin-top: 16px;
}
.gt-avatar {
    border-radius: 100%;
}
.markdown-body code {
    padding: none !important;
    font-family: consolas !important;
}